name: Release Please

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

jobs:
  release-please:
    uses: matt-riley/matt-riley-ci/.github/workflows/release-please.yml@2e6d1921c0c5643c42a70bf4cd54f20c7e75b3ac # v1.5.0
    with:
      config-file: .release-please-config.json
      manifest-file: release-please-manifest.json
    secrets:
      token: ${{ secrets.RELEASE_PLEASE_TOKEN || secrets.GITHUB_TOKEN }}
